<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <p>Welcome to the temporary home of the</p>
                <h2>TU Delft Digital Competence Centre</h2>
                <p>Support for data and software required by 21st-century research</p>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
